@model IEnumerable<Market.Models.CategoriesItem>

@{
    ViewData["Title"] = "Index";
}

<div>
<h4>Item</h4>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Item.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.First().Item.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Item.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.First().Item.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Item.Image)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.First().Item.Image)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Item.Price)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.First().Item.Price)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Item.Manufacturer)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.First().Item.Manufacturer.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Item.Seller)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.First().Item.Seller.Name)
    </dd>
</dl>
</div>

<h1>List Of Categories</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
